/* No Screen < 320 */
/***********************************/

@include no-screen {
    body {
        #application {
            display: none!important;
        }
        &:before {
            content: "Não disponível nesta resolução";
            position: absolute;
            left: 20px;
            top: 20px;
            float: left;
            display: inline-block;
        }
    }
}