/*
/* Footer  v0.0.1
/***********************************/

.footer {
    display: table;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: $primary-color;
    margin-top:20px;
    border-top:1px solid $light-color;
    .footer-links {
        margin:0;
        li {
            position: relative;
            display: inline-block;
            margin: 0 10px;
            &:last-child {
                &:before {
                    display: none;
                }
            }
            a {
                color: $primary-color;
            }
            &:before {
                position: absolute;
                left: 36px;
                top: 0;
                content: ".";
                line-height: 2px;
                color: #999;
                @include font-size(36px);
            }
        }
    }
    .footer-copyright {
        margin:0!important;
        color:$text-color;
        @include font-size(12px);
    }
    .footer-logo {
        margin: 0 auto 20px auto;
    }
}

.footer-positive {
    border-top: 1px solid $light-color;
    background: $primary-color;
    color: #fff;
    .footer-links {
        li {
            a {
                color: #fff;
            }
        }
    }
}